/*---------0-1199px---------------*/
@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

/*---------------DESKTOP-----------------*/
@media screen and (min-width: 1200px) {
  .about {
    background: var(--second-color);
  }

  .about__box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about__img-box {
    display: flex;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    margin-right: 30px;
  }

  .about__img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    display: flex;
    object-fit: cover;
    margin: 20px;
  }

  .about__text {
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
    color: var(--main-color);
    font-size: 20px;
    max-width: 50%;
  }

  .about__text-bold {
    font-weight: 600;
    color: var(--main-color);
  }
}
