/*---------MOBILE---------------*/
@media screen and (max-width: 767px) {
  .clients {
    display: none;
  }
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--item-gap);
  }

  .clients-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }

  .clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;
    border: 1px solid rgba(175, 177, 184, 1);
    height: 92px;
    border-radius: 4px;
  }
}
/*-----------TABLET--------------*/
@media screen and (min-width: 768px) {
  .clients {
    background: var(--main-color);
  }

  .clients-section-title {
    color: var(--second-color);
  }
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--item-gap);
  }
  .clients-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }

  .clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--second-color);
    border: 2px solid var(--second-color);
    height: 150px;
    border-radius: 50%;
  }
}
/*---------------DESKTOP-----------------*/
@media screen and (min-width: 1200px) {
  .clients {
    background: var(--main-color);
  }
  .clients-list__item {
    flex-basis: calc((100% - 150px) / 6);
  }

  .clients-list__link {
    transition: var(--transition-main);

    &:hover,
    &:focus {
      fill: var(--main-color);
      border-color: var(--main-color);
      background: var(--second-color);
    }
  }
}
