/*---------MOBILE---------------*/
@media screen and (max-width: 767px) {
  .clients {
    background: var(--main-color);
  }

  .clients-section-title {
    color: var(--second-color);
  }
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--item-gap);
  }

  .clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--second-color);
    border: 2px solid var(--second-color);
    height: 160px;
    width: 160px;
    border-radius: 50%;
  }

  .cleints-list-logo {
    width: 100px;
    display: flex;
    justify-content: center;
  }
}
/*-----------TABLET--------------*/
@media screen and (min-width: 768px) {
  .clients {
    background: var(--main-color);
  }

  .clients-section-title {
    color: var(--second-color);
  }
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--item-gap);
  }

  .clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--second-color);
    border: 2px solid var(--second-color);
    height: 160px;
    width: 160px;
    border-radius: 50%;
  }

  .cleints-list-logo {
    width: 100px;
    display: flex;
    justify-content: center;
  }
}
/*---------------DESKTOP-----------------*/
@media screen and (min-width: 1200px) {
  .clients {
    background: var(--main-color);
  }
  .clients-list__item {
    flex-basis: calc((100% - 150px) / 6);
  }

  .clients-list__link {
    transition: var(--transition-main);

    &:hover,
    &:focus {
      border-color: var(--main-color);
      scale: 90%;
    }
  }
}
